<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- 选择日期面版 -->
    <div class="gray" v-show="flag">
      <div class="select">
        <p>  年：<input type="text" v-model="year"> 
          月:<input type="text" v-model="month"> 
          日<input type="text" v-model="day">
        </p> 
        <button @click="pick(year,month,day);flag=false">commit</button>
      </div>
    </div>


    <div class="calendar">

      <!-- 月份 -->
      <div class="month">
        <div class="arrow hover" @click="pickPre"><</div>
        <div class="year-month">
          <div class="choose-year hover" @click="flag=true">{{currentYear}}年</div>
          <div class="choose-month hover" @click="flag=true">{{currentMonth}}月</div>
        </div>
        <div class="arrow hover" @click="pickNext">></div>
      </div>

      <!-- 星期 -->
      <ul class="weekdays">
        <li>一</li>
        <li>二</li>
        <li>三</li>
        <li>四</li>
        <li>五</li>
        <li class="holiday">六</li>
        <li class="holiday">日</li>
      </ul>

      <!-- 日期 -->
      <ul class="days">
        <li v-for="item in this.days">
          <!-- 是否:今天启动active 不是当前月启动othermonth  -->
          <span :class="{'active':
            item.getFullYear() === new Date().getFullYear() 
            && item.getMonth() === new Date().getMonth() 
            && item.getDate() == new Date().getDate(),
            'othermonth':
            item.getMonth()+1 !== currentMonth
          }">
            {{item.getDate()}}
          </span>
        </li>
      </ul>
      
    </div>
    
  </div>

  <script type="text/javascript" src="./app.js"></script>
</body>

</html>